/*  all css file was linked here */
@import url(./main.css);
@import url(./header.css);
@import url(./footer.css);

/* page default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
   
}





