/* section for hero-img in the header */
header{
    height: 50vh;
    width: 100vw;
    background-image: url(../images/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
 
.hero-text{
    text-align: left;
    margin-top: 150px;
    padding-inline-start: 900px;
    color: rgb(29, 28, 28);
    font-weight: bold;
    font-size: 20px;
}
span {
    color: pink;
  }
 
 